<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.restaurant.mapper.ex.OrderEXMapper">
    <resultMap id="all" type="java.util.LinkedHashMap">
        <id column="id" property="id"></id>
        <result column="table_id" property="tableId"></result>
        <result column="state" property="state"></result>
        <result column="user_id" property="userId"></result>
        <result column="price" property="price"></result>
        <result column="type" property="type"></result>
        <result column="date" property="date"></result>
        <result column="time" property="time"></result>
    </resultMap>

    <resultMap id="outDetail" type="java.util.LinkedHashMap">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="phone" property="phone"></result>
        <result column="address" property="address"></result>
        <result column="price" property="price"></result>
        <result column="state" property="state"></result>
        <result column="remark" property="remark"></result>
        <collection property="items"
                    column="id"
                    select="selectItems"
                    ofType="com.briup.restaurant.bean.Item">
        </collection>
    </resultMap>

    <resultMap id="inDetail" type="java.util.LinkedHashMap">
        <id column="id" property="id"></id>
        <result column="state" property="state"></result>
        <result column="table_id" property="tableId"></result>
        <result column="price" property="price"></result>
        <result column="remark" property="remark"></result>

        <collection property="items"
                    column="id"
                    select="selectItems"
                    ofType="com.briup.restaurant.bean.Item">
        </collection>
    </resultMap>

    <resultMap id="items" type="java.util.LinkedHashMap">
        <id column="id" property="id"></id>
        <result column="state" property="state"></result>
        <association property="food"
                     column="food_id"
                     select="selectFood">
        </association>
    </resultMap>

    <resultMap id="food" type="java.util.LinkedHashMap">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
    </resultMap>

    <resultMap id="price" type="com.briup.restaurant.bean.ex.Orderex">
        <id column="id"  property="id" />
        <result column="price"  property="price" />
    </resultMap>

    <select id="selectAll" resultMap="all">
        select id,table_id,state,user_id,price,type,date,time from restaurant_order order by id desc
    </select>

    <select id="selectByUser" resultMap="all">
        select id,table_id,state,user_id,price,type,date,time from restaurant_order where user_id like #{word} order by id desc
    </select>

    <select id="selectByState" resultMap="all">
        select id,table_id,state,user_id,price,type,date,time from restaurant_order where state like #{word} order by id desc
    </select>

    <select id="showOutDetailById" resultMap="outDetail">
        select id,name,phone,address,price,state,remark from restaurant_order where id=#{id}
    </select>

    <select id="showInDetailById" resultMap="inDetail">
        select id,state,table_id,price,remark from restaurant_order where id=#{id}
    </select>

    <select id="selectItems" resultMap="items">
        select id,food_id,state from restaurant_item where order_id=#{id}
    </select>

    <select id="selectFood" resultMap="food">
        select name,price from restaurant_food where id=#{id}
    </select>


<!--楠哥！！我在这里写了一个方法-->
    <insert id="InsertOrder" parameterType="com.briup.restaurant.bean.Order">
        <selectKey keyProperty="id" order="AFTER" resultType="int" >
            select LAST_INSERT_ID()
        </selectKey>

    insert into restaurant_order (id, state, price,
      remark, date, time, type,
      name, phone, address,
      user_id, table_id)
    values (#{id,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
      #{remark,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{time,jdbcType=TIME}, #{type,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{userId,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER})
  </insert>

    <select id="selectPrice" resultMap="price">
    select id,price from restaurant_order where id=#{id}
    </select>

<!--    <resultMap id="Price" type="java.util.LinkedHashMap">-->
<!--        <id column="id" property="id"></id>-->
<!--        <result column="id" property="id"></result>-->
<!--    </resultMap>-->
<!--    <select id="selectPriceByFoodId" resultMap="Price">-->
<!--        select id,price from restaurant_food where id=#{id};-->
<!--    </select>-->

</mapper>