<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.restaurant.mapper.ex.UserEXMapper">
    <resultMap id="abn" type="com.briup.restaurant.bean.Order">
    <id column="id" property="id"></id>
    <result column="state" property="state"></result>
    <result column="price" property="price"></result>
    <result column="remark" property="remark"></result>
    <result column="date" property="date"></result>
    <result column="time" property="time"></result>
    <result column="type" property="type"></result>
    <result column="name" property="name"></result>
    <result column="phone" property="phone"></result>
    <result column="address" property="address"></result>
    <association property="userId" column="user_id" select="selectUser"></association>
    <association property="tableId" column="table_id"></association>
</resultMap>
<!--    利用Map筛选展示属性  -->

    <resultMap id="abc" type="java.util.HashMap">
        <id column="id" property="id"></id>
        <result column="state" property="state"></result>
        <result column="price" property="price"></result>
        <result column="date" property="date"></result>
        <result column="time" property="time"></result>
        <result column="type" property="type"></result>
        <result column="name" property="name"></result>
        <association property="userId" column="user_id" select="selectUser"></association>
    </resultMap>

    <select id="FindConsumption" resultMap="abc">
        select * from restaurant_order where user_id=#{id}
    </select>

    <resultMap id="aaa" type="com.briup.restaurant.bean.User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="phone_number" property="phoneNumber"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
    <select id="selectUser" resultMap="aaa">
        select * from restaurant_user where id=#{id}
    </select>
</mapper>