<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.restaurant.mapper.ex.WaitingEXMapper">
    <insert id="insertAndGetId" parameterType="com.briup.restaurant.bean.Waiting">
    insert into restaurant_waiting (id, table_seating, state,
      phone_number, waiting_table)
    values (#{id,jdbcType=INTEGER}, #{tableSeating,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR},
      #{phoneNumber,jdbcType=VARCHAR}, #{waitingTable,jdbcType=INTEGER})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="countWait" resultType="java.lang.Integer">
        select count(*) from restaurant_waiting where state = "等待中"
    </select>
    <resultMap id="ew" type="com.briup.restaurant.bean.ex.EndWait">
        <id column="id" property="id"/>
        <result column="phoneNumber" property="phone_number"/>
        <result column="table_seating" property="seat"/>
    </resultMap>
    <select id="selectEnd" resultMap="ew">
        select id,phone_number
        from restaurant_waiting
        where waiting_table=
        (select min(waiting_table)
        from restaurant_waiting
        where table_seating = #{seat})
    </select>
</mapper>